[data-md-color-scheme="blinded"] {
  --md-primary-fg-color:        #386aff;
  --md-code-hl-number-color:    #386aff;
  --md-accent-fg-color:         #386aff;
  --md-primary-fg-color--light: #386aff;
  --md-primary-fg-color--dark:  #386aff;
}
